@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Lato:400,900|Open+Sans');

h1 { color: #FFF !important; font-family: 'Lato', sans-serif !important;}
h2 { color: #FFF; }
h3{color: #ffffff;}
p { color: #FFF; }

body {
  background-color: #5eb9e6;
  background-image: url("../img/fundo-final.png");
  overflow-x: hidden;
}

//Scroolling Lateral
.menu { 
    position: fixed; 
    z-index: 3; 
    top: calc( 50% - 72.5px ); 
    left: 1em; 
    width: 50px; 
}
.menu li { 
    list-style: none; 
    margin: 0 0 10px 0; 
}
.menu a.dot { 
    width: 15px; 
    height: 15px; 
    padding: 0; 
    border: 2px solid #FFF; 
    content: " "; 
    cursor: pointer; 
    border-radius: 50%; 
}
.menu a.dot.active { 
    background-color: #FFF; 
}

// Setas
.arrow {
    margin: 0 50%;
    opacity: 1;
    display: block;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

.anima-1 {
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-iteration-count: 1;
}

.anima-2 {
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1.0s;
    -webkit-animation-iteration-count: 1;
}

.anima-3 {
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
    -webkit-animation-iteration-count: 1;
}

.anima-4 {
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 2.0s;
    -webkit-animation-iteration-count: 1;
}

.anima-5 {
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 2.5s;
    -webkit-animation-iteration-count: 1;
}

.anima-7 {
    margin: 0 50%;
    opacity: 1;
    display: block;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: jello 1s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    position: absolute;
    top: 4860px;
    left: 80px;
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}


.cheeseAnima, .circleAnima, .photo01Anima, .dotsPage03Anima, .triangleAnima, 
.circleDotsAnima, .circleWavesAnima, .mapMarkerAnima {
    display: none;
    position: absolute;
}

//section1
.section1{
    padding: 347px 0 181px 0;
    h1{
        font-weight: 900 !important;
        font-size: 6em !important;
        line-height: 77px;
        letter-spacing: -7px;
        padding-left: 67px;
    }
    .seta1{
        padding-top: 340px;
    }
    .imagecirclesAnima{
        position: absolute;
        top: 0;
        left: 408px;
    }
    .circleAnima{
        position: absolute;
        top: 469px;
        right: 220px;
    }
}
//section2
.section2{
    padding: 283px 0 69px 37px;
    h2{
        font-weight: 900 !important;
        font-size: 3.7em !important;
        line-height: 47px;
        letter-spacing: -4px;
        padding-bottom: 38px;
    }
    p{
        font-size: 24px;
        line-height: 28px;
        padding-bottom: 70px;
    }
    h3{
        font-weight: 900 !important;
        font-size: 2.3em !important;
        line-height: 47px;
        letter-spacing: -2px;
    }
    .seta1{
        padding: 105px 0;
    }
    .cheeseAnima{
        position: absolute;
        top: 1092px;
        left: 256px;
    }
    .photo01Anima{ 
        top: 1090px;
        right: 490px;
        z-index: 2;
    }
    .dotsPage03Anima{
        top: 934px;
        right: 125px;
        z-index: 1;
    }
    .triangleAnima{
        top: 1974px;
        right: 460px;
    }
}
//section3
.section3{
    padding: 240px 0 203px 0;
    h2{
        font-weight: 900 !important;
        font-size: 3.7em !important;
        line-height: 47px;
        letter-spacing: -4px;
        padding-bottom: 38px;
    }
    p{
        font-size: 24px;
        line-height: 28px;
        padding-bottom: 70px;
    }
    .btn1 {
        color: #fff;
        border: 3px solid #fff;
        border-radius: 40px;
        font-size: 1.6em;
        padding: 20px 25px;
    }
    .btn1:hover {
        color: #fff;
        border: 3px solid #fff;
        border-radius: 40px;
        font-size: 1.6em;
        padding: 20px 25px;
    }
    .video1{
        height: 58%;
        width: 88%;
        z-index: 2;
        margin-top: 55px;
    }
    .fundolives{
        position: relative;
        top: -288px;
        left: 13px;
        z-index: 1;
    }
    .circleWavesAnima{
        top: 2772px;
        left: 41px;
    }
}
//section4
.section4{
    padding: 224px 0 288px 0;
    h2{
        font-weight: 900 !important;
        font-size: 3.7em !important;
        line-height: 47px;
        letter-spacing: -4px;
        padding-bottom: 38px;
    }
    p{
        font-size: 24px;
        line-height: 28px;
        padding-bottom: 60px;
        letter-spacing: -1px;
    }
    h3{
        font-weight: 900 !important;
        font-size: 2.3em !important;
        line-height: 47px;
        letter-spacing: -2px;
    }
    .video2{
        height: 69%;
        width: 88%;
        z-index: 2;
        margin: 2px 0 0 78px;
    }
    .fundoeventos{
        position: relative;
        top: -289px;
        right: -86px;
        z-index: 1;
    }
    .circleDotsAnima{
        top: 3378px;
        right: 285px;
    }
}
//section5
.section5{
    padding: 387px 0 278px 0;
    h2{
        font-weight: 900 !important;
        font-size: 3.7em !important;
        line-height: 47px;
        letter-spacing: -4px;
        padding-bottom: 38px;
    }
    p{
        font-size: 24px;
        line-height: 28px;
        padding-bottom: 60px;
        letter-spacing: -1px;
    }
    h3{
        font-weight: 900 !important;
        font-size: 2.3em !important;
        line-height: 47px;
        letter-spacing: -2px;
    }
    .seta1{
        padding-top: 110px;
    }
    .mapMarkerAnima{
        top:4416px;
        right: 586px;
    }
}
//section6
.section6{
    padding: 250px 0 184px 0;
    h2{
        font-weight: 900 !important;
        font-size: 3.7em !important;
        line-height: 47px;
        letter-spacing: -4px;
        padding-bottom: 38px;
    }
    p{
        font-size: 24px;
        line-height: 28px;
        padding-bottom: 60px;
        letter-spacing: -1px;
    }
    .photo02{
        position: absolute;
        left: 341px;
        top: -7px;
    }
    .nove{
        color: #f8a963;
        font-size: 18em;
        font-weight: 900;
        position: absolute;
        top: -75px;
        right: 576px;
    }
    .bilhoes{
        color: #fff;
        font-size: 7.5em;
        font-weight: 900;
        position: absolute;
        top: 120px;
        right: 282px;
        letter-spacing: -6px;
    }
    .seta1{
        padding-top: 370px;
    }
}
//section7
.section7{
    padding: 105px 0 425px 0;
    h2{
        font-weight: 900 !important;
        font-size: 3.7em !important;
        line-height: 47px;
        letter-spacing: -4px;
        padding-bottom: 38px;
    }
    p{
        font-size: 24px;
        line-height: 28px;
        padding-bottom: 60px;
        letter-spacing: -1px;
    }
    .cycle-slideshow {
        width: 100% !important;
    }
}

//section9
.section9{
    .form-control-style {
        color: #979797;
        border: 2px solid #fff;
        border-radius: 35px;
        font-size: 1.2em;
        height: 50px !important;
    }

    .form-control:focus {
        border-color: transparent;
        webkit-box-shadow: 0 0 0 0.2rem rgba(248, 169, 99, 0.25);
        box-shadow: 0 0 0 0.2rem rgba(248, 169, 99, 0.25);
    }

    #Select1 { 
        color: #5eb9e6;
    }

    .btn-style {
        background-color: #f8a963;
        color: #fff;
        border: none;
        border-radius: 35px;
        font-size: 1em;
        width: 100%;
    }
}
